.page-body {
    background-position: top center;
    min-width: 960px;
    margin: 0;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    }
.container {
    display: flex;
    width: 940px;
    margin: 1% auto;
    padding: 0 10px;
    animation: bounce 1.4s;
}

.uninfected {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: 5px solid #000000;
    background-color: green;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    }

.infected {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: 5px solid #000000;
    background-color: red;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);

}

.ocean{
    margin-right: 5px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: 5px solid #000000;
    background-color: blue;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    }




@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(300px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

