.page-body {
    background-position: top center;
    min-width: 960px;
    margin: 0;
    padding-left: 200px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    }

.uninfected {
    float: left;
    display: block;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    padding: 0;
    border: 5px solid #000000;
    background-color: green;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    animation: shake 0.6s;
}

.infected {
    float: left;
    display: block;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    padding: 0;
    border: 5px solid #000000;
    background-color: red;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    animation: shake 0.6s;
}

.ocean{
    float: left;
    display: block;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    padding: 0;
    border: 5px solid #000000;
    background-color: blue;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    animation: shake 0.6s;
}

.item1 {
    width: 25px;
    height: 25px;
    padding: 0;
    border: 5px solid  #000000;
    background-color: slategray;
}

.clearfix{
    clear: both;
}

@keyframes shake {
    0%,100% {transform:translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform:translateX(-1px);}
    20%, 40%, 60%, 80% {transform:translateX(1px);}
}

